backend/app/__pycache__/
backend/app/models/__pycache__/
backend/app/schemas/__pycache__/
plant/server/__pycache__/
plant/logs/
plant/tests/
backend/app/services/__pycache__/
backend/app/routes/__pycache__/
backend/safecheck.db-journal
backend/app/detector/__pycache__/
backend/tests/__pycache__/
backend/logs/
